In [38]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [39]:
import re
s = 'ABCAC'
bool(re.match('A', s)) == True
# len(re.split('A', s)) == 3

True

In [11]:
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '([B-Z]*)(A{3})'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group(1))
      
    return result

# result()

In [15]:
import pandas as pd
import numpy as np

data = np.array([1,2,3,4])
s = pd.Series(data,index=['d','b','a','c'])
# s.iloc[0]
# s['d']
s.index[0]

'd'

In [3]:
import pandas as pd
import numpy as np

s1_data = np.array([20,15,18,31])
s1 = pd.Series(s1_data,index=['m','s','b','v'])

s2_data = np.array([20,30,15,20,20])
s2 = pd.Series(s2_data,index=['s','v','b','m','p'])

s3 = s1.add(s2)
s3

b    33.0
m    40.0
p     NaN
s    35.0
v    61.0
dtype: float64

In [6]:
# s3['m'] >=  s1.add(s2, fill_value = 0)['m'] # True
s3['b'] == s1.add(s2, fill_value = 0)['b']

True

In [20]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
# S[['b', 'c', 'd']]
# S[1:4]
# S['b':'d']
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int64

In [25]:
df = pd.DataFrame(np.array([[5, 6, 20], [5, 82, 28], [71, 31, 92],[67,27,49]]), columns=['a','b','c'], index=['R1','R2','R3','R4'])
df

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  27  49

In [11]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new[1]

88

In [26]:
# new_df.columns = pd.MultiIndex.from_product([['C'], df.columns])
df.columns = pd.MultiIndex.from_product([['C'],df.columns])
df

     C
     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  27  49

In [32]:
df.unstack()

C  a  R1     5
      R2     5
      R3    71
      R4    67
   b  R1     6
      R2    82
      R3    31
      R4    27
   c  R1    20
      R2    28
      R3    92
      R4    49
dtype: int32

In [37]:
df_10 = pd.DataFrame(np.array([['i1', 'A', 10], ['i1', 'B', 20], ['i1', 'C', np.nan]]), columns=['Item','Store','Quantity sold'])
df_10.groupby('Item').sum().iloc[0]['Quantity sold']
# df_10

'1020nan'