In [2]:
import pandas as pd
students = ['AA','BB','CC']
pd.Series(students)

0    AA
1    BB
2    CC
dtype: object

In [3]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
students = ['AA','BB',None]
pd.Series(students)

0      AA
1      BB
2    None
dtype: object

In [5]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
[np.nan == None, np.nan == np.nan, np.isnan(np.nan)]

[False, False, True]

In [7]:
students_scores = {'AA':'Phy','BB':'Chem','CC':'Eng'}
s = pd.Series(students_scores)
s

AA     Phy
BB    Chem
CC     Eng
dtype: object

In [8]:
s.index

Index(['AA', 'BB', 'CC'], dtype='object')

In [9]:
s = pd.Series(['Phy', 'Chem', 'Eng'], index=['AA', 'BB', 'CC'])
s

AA     Phy
BB    Chem
CC     Eng
dtype: object

In [10]:
students_scores = {'AA':'Phy','BB':'Chem','CC':'Eng'}
s = pd.Series(students_scores, index=['AA','BB','DD'])
s

AA     Phy
BB    Chem
DD     NaN
dtype: object

In [11]:
students_classes = {'AA':'Phy','BB':'Chem','CC':'Eng', 'DD':'Hist'}
s = pd.Series(students_classes)
s.iloc[3]

'Hist'

In [13]:
s.loc['BB']

'Chem'

In [14]:
s[3] # position

'Hist'

In [15]:
s['BB'] # label

'Chem'

In [16]:
class_code = {99:'Phy', 100:'Chem',101:'Eng',103:'Hist'}
s = pd.Series(class_code)
s.iloc[0] # s[0] -> error

'Phy'

In [20]:
grades = pd.Series([90,80,70,60])
total = np.sum(grades)
print(total/len(grades))

75.0

In [21]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    153
1    630
2    189
3    327
4    832
dtype: int64

In [22]:
%%timeit -n 100
total = 0
for number in numbers:
    total += number
total/len(numbers)

1.66 ms ± 157 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [23]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

119 µs ± 23.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
numbers += 2
numbers.head()

0    155
1    632
2    191
3    329
4    834
dtype: int64

In [25]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in numbers.iteritems():
    s.loc[label] = value+2

648 ms ± 45.8 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [26]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s += 2

793 µs ± 259 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [27]:
s = pd.Series([1,2,3])
s.loc['AA'] = 102
s

0       1
1       2
2       3
AA    102
dtype: int64

In [30]:
aa_classes = {'AA':'Phy','AA':'Chem','AA':'Eng', 'AA':'Hist'}
aa_classes = pd.Series(aa_classes)
aa_classes

AA    Hist
dtype: object

In [31]:
aa_classes = pd.Series(['Phy', 'Chem', 'Eng', 'Hist'], index=['AA', 'AA', 'AA', 'AA'])
aa_classes

AA     Phy
AA    Chem
AA     Eng
AA    Hist
dtype: object

In [34]:
students_classes = pd.Series(['Phy', 'Chem', 'Eng', 'Hist'], index=['AA', 'BB', 'CC', 'DD'])
all_stu_class = students_classes.append(aa_classes)
all_stu_class

AA     Phy
BB    Chem
CC     Eng
DD    Hist
AA     Phy
AA    Chem
AA     Eng
AA    Hist
dtype: object

In [35]:
students_classes

AA     Phy
BB    Chem
CC     Eng
DD    Hist
dtype: object

In [36]:
all_stu_class.loc['AA']

AA     Phy
AA     Phy
AA    Chem
AA     Eng
AA    Hist
dtype: object

In [38]:
import pandas as pd

record1 = pd.Series({'Name':'AA', 'Class':'Phy', 'Score':85})
record2 = pd.Series({'Name':'BB', 'Class':'Chem', 'Score':82})
record3 = pd.Series({'Name':'CC', 'Class':'Bio', 'Score':98})

df = pd.DataFrame([record1,record2,record3], index=['school1','school2','school3'])
df.head()

        Name Class  Score
school1   AA   Phy     85
school2   BB  Chem     82
school3   CC   Bio     98

In [42]:
students = [{'Name':'AA', 'Class':'Phy', 'Score':85},
            {'Name':'BB', 'Class':'Chem', 'Score':82},
            {'Name':'CC', 'Class':'Bio', 'Score':98}]
df = pd.DataFrame(students, index=['school1','school2','school1'])
df

        Name Class  Score
school1   AA   Phy     85
school2   BB  Chem     82
school1   CC   Bio     98

In [40]:
df.loc['school2']

Name       BB
Class    Chem
Score      82
Name: school2, dtype: object

In [41]:
type(df.loc['school2'])

pandas.core.series.Series

In [43]:
type(df.loc['school1'])

pandas.core.frame.DataFrame

In [44]:
df.loc['school1', 'Name']

school1    AA
school1    CC
Name: Name, dtype: object

In [45]:
df.T

      school1 school2 school1
Name       AA      BB      CC
Class     Phy    Chem     Bio
Score      85      82      98

In [46]:
df.T.loc['Name']

school1    AA
school2    BB
school1    CC
Name: Name, dtype: object

In [47]:
df['Name']

school1    AA
school2    BB
school1    CC
Name: Name, dtype: object

In [48]:
type(df['Name'])

pandas.core.series.Series

In [50]:
df.loc['school1']['Name']

school1    AA
school1    CC
Name: Name, dtype: object

In [51]:
print(type(df.loc['school1']))
print(type(df.loc['school1']['Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [52]:
df.loc[:,['Name','Score']]

        Name  Score
school1   AA     85
school2   BB     82
school1   CC     98

In [53]:
# drop: give new df
df.drop('school1')

        Name Class  Score
school2   BB  Chem     82

In [54]:
df

        Name Class  Score
school1   AA   Phy     85
school2   BB  Chem     82
school1   CC   Bio     98

In [55]:
copy_df = df.copy()
copy_df.drop('Name', inplace=True, axis=1)
copy_df

        Class  Score
school1   Phy     85
school2  Chem     82
school1   Bio     98

In [56]:
del copy_df['Class']
copy_df

         Score
school1     85
school2     82
school1     98

In [57]:
df['ClassRanking'] = None
df

        Name Class  Score ClassRanking
school1   AA   Phy     85         None
school2   BB  Chem     82         None
school1   CC   Bio     98         None